<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ TITLE }}</title>
    <meta name="title" content="{{ TITLE }}" />
    <meta name="description" content="{{ DESCRIPTION }}" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ URL }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ TITLE }}" />
    <meta property="og:description" content="{{ DESCRIPTION }}" />
    <meta property="og:image" content="{{ IMAGE }}" />
    <meta property="og:video:url" content="{{ VIDEO }}" />
    <meta property="og:video:secure_url" content="{{ VIDEO }}" />

    <!-- Twitter Meta Tags -->
    <meta property="twitter:url" content="{{ URL }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ TITLE }}" />
    <meta name="twitter:description" content="{{ DESCRIPTION }}" />
    <meta name="twitter:image" content="{{ IMAGE }}" />
    <meta name="twitter:player" content="{{ VIDEO }}" />
  </head>
  <body style="background-color:rgba(0,0,0,0)">
    <div id="root" style="height:100%"></div>
  </body>
</html>
